@var1: #9c8468; // sandal
@var2: #ffffff; // white
@var3: #222222;

main {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border: 4px solid;
	border-color: coral;
	background-image:url(images/bg.jpg);
}
.heading1 {
	text-shadow: -1px -1px 1px @var2, 1px 1px 1px darkred;
	color: @var1;
	opacity: 0.6;
	font: 40px 'Museo700';
	text-align: center;
}
.slideShow>img {
	border: 2px solid;
	background-image: linear-gradient(to right,grey, #6666ff);
	opacity:0.8;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.signup_button:hover {
	font-size: 30px;
	border: 1px solid;
}
a:hover {
	text-decoration:underline;
}
h2 {
	text-align: center;
}
.bottomParagraph {
	text-align: center;
}
#form {
	border-bottom: double;
	padding: 10px;
	color: blue;
	display: block;
	font-size: 250%;
	text-align: center;
}
.textcolor {
	font-weight: bold;
}
.labels {
	display: grid;
}
#pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.logIn {
	display: inline-block;
	color: black;
	background-color: orange;
	border-radius: 20px;
	font-weight: bold;
	font-size: 150%;
	padding-left: 15%;
	padding-right: 15%;
	margin-left: 10%;
}
#box {
	border: solid;
	background-color: antiquewhite;
	color: darkred;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	font-weight: 100;
}
a {
	color: darkred;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	text-decoration: none;
	text-align: center;
}
#head1 {
	text-align: center;
	margin-left: 150px;
}
nav {
	background-color: darkred;
	padding: 10PX;
	color: white;
	font-size: 22px;
}
footer {
	font-size: small;
	font-style: italic;
	text-align: center;
	clear: left;
}
button {
	cursor: pointer;
}
h3 {
	background-image: linear-gradient(to right, blue , yellow);
	text-align: center;
	font-weight: bold;
}
.signup_button {
	margin-left: 7%;
	font-weight: bold;
}
.signup_form {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
	line-height: 40px;
	padding-top: 2%;
}
.signup_form input {
	width: 90%;
	padding: 0 5%;
	height: 40px;
	background-color: @var2;
	margin: 0 auto;
}
.signup_form button {
	width: 30%;
	height: 40px;
	border: none;
	background-color: @var3;
	color: @var2;
	margin-left: 37%;
}
div.header {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	height: 150px;
	background-color: lightblue;
	text-align: center;
	font-size: 20pt;
}

.menu {
	counter-reset: item;
}

#product_image{
	width:100px;
	height:200px;
	border:15px solid;
	border-radius: 24px;
}
.cards{
	background-color:white;
	border-radius:24px;
	width: 90%;
	text-align: center;
	margin:5%;
	font-size: 200%;
	opacity: 0.8;
}
#simg {
	opacity: 0.8;
	border-radius:24px;
}
.product_details
{
	color:black;
	font-weight: bolder;
	font-size: 100%;
	text-align: center;
	background-color: white;
	opacity: 0.8;
	border-radius:50%;
	text-shadow: 10%;
	text-decoration:overline;
}
.mySearchText{
	color:white;
	font-weight: bolder;
	padding-left: 5%;
}
#input{
	padding-left: 5%;
	margin-left: 5%;
}
.wrapper{
	background-color: antiquewhite;
	opacity: 0.8;
	border-radius: 100px;
}
.indexItem{
	background-color: antiquewhite;
	opacity: 0.8;
}
.item{
	cursor: pointer;
	font-weight: bolder;
}
.about_us{
	background-color: antiquewhite;
	opacity: 0.8;
	font-weight: bolder;
}

.items {
	counter-reset: item;
	cursor: pointer;
	background-color: antiquewhite;
	font-size: 150%;
	margin-top: 5%;
	padding: 2%;
	opacity: 0.6;
	padding-top:5%;
}

@y_origin : 10px;
.items .menu {
	background-color:blue;
	width: 200px;
	position: absolute;
	color: contrast(red);
	transform-origin: 0 @y_origin;
	transform: rotate(0deg);
	text-align:center;
	transition: transform 1s;
}
.items.open .menu {
	transform-origin: 0 @y_origin;
	transform: rotate(-30deg);
	transition: transform 1s;

}
//}
//generate gradient color for the items
.loop(@counter,@gap) when (@counter <7) {
	.loop(@counter + 1 ,@gap+30);
	@y_origin : 10%;
	.items .item:nth-child(@{counter}) {
		width: 50px;
		position: absolute;
		transform-origin: 0 @y_origin;
		transform: translate((0%)*@gap);
		text-align: right;
		transition: transform 1s;
		a:link {
			color:black;
		}
	}
	.items.open .item:nth-child(@{counter}) {
		transform-origin: 0 @y_origin;
		transform: translate((10%)*@gap);
		transition: transform 1s;
	}
}

.items.open .item{
	background-color: antiquewhite;
}
.content {
	background-color: antiquewhite;
	.items {
		position: relative;

	}
	.loop(0,0);
}

.items.open .bullet {
	width: 50px;
	position: absolute;
	text-align: right;
	animation-name: upwards;
	animation-duration: 1s;
	animation-fill-mode: both;

}

.bullet.close .bullet {
	width: 50px;
	position: absolute;
	text-align: right;
	animation-name: run;
	animation-duration: 1s;
	animation-fill-mode: both;

}

.item{
	cursor:pointer;

}
.allpage{
	background-color: antiquewhite;
	margin:5%;
}
@keyframes upwards {
	from{transform : translate(0px,-10px)}
	to{transform : translate(200px,-55px)}

}
@keyframes run {
	from{transform : translate(0px,-10px)}
	to{transform : translate(100px,-40px)}

}

.items h1{
	text-align: center;

}
textarea{
	width: 20%;
	border-radius:10%;
}
.about_us{
	img{
		cursor: pointer;
	}
}
#buy{
	text-align: center;
}
@media only screen and (max-width: 1050px) {
	nav{
		display:none;
	}
	.heading1{
		font-size: 30%;
		color:white;
	}
	h2{
		color:white;
	}
	#simg{                   //sitemap
		width:200px;
		height: 200px;
	}
	.items{
		display:none;
	}
	.allpage{
		text-align: center;
	}
	.allpage::after{
		content: "::::::::::::::::: APPLE ,SAMSUNG, L.G., SONY, GOOGLE :::::::::::::::::::::";
	}
}
@media only screen and (max-width: 814px) {
	nav{
		display:none;
	}
	.heading1{
		font-size: 30%;
		color:white;
	}
	h2{
		color:white;
	}
	#simg{
		width:100px;
		height: 100px;
	}
	.items{
		display:none;
	}
	.allpage::after{
		content: "::::::::::::::::: APPLE ,SAMSUNG, L.G., SONY, GOOGLE :::::::::::::::::::::";
	}
}
