div.header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 150px;
  background-color: #808080;
  text-align: center;
  font-size: 20pt;
}

.items {
  counter-reset: item;
}

@y_origin : 10px;
.items .menu {
  background-color:red;
  width: 100px;
  position: absolute;
  color: contrast(red);
  transform-origin: 0 @y_origin;
  transform: rotate(0deg);
  text-align:left;
  transition: transform 1s;
  a:link {
    color: contrast(red);
    text-decoration: none;
  }
}
.items.open .menu {
  transform-origin: 0 @y_origin;
  transform: rotate(-30deg);
  transition: transform 1s;
}
//}
//generate gradient color for the items
.loop(@counter,@gap) when (@counter <7) {
  .loop(@counter + 1 ,@gap+30);
  @y_origin : 10%;
  .items .item:nth-child(@{counter}) {
    width: 50px;
    position: absolute;
    transform-origin: 0 @y_origin;
    transform: translate((0%)*@gap);
    text-align: right;
    transition: transform 1s;
    a:link {
      text-decoration: none;
      color:black;
    }
  }
  .items.open .item:nth-child(@{counter}) {
    transform-origin: 0 @y_origin;
    transform: translate((10%)*@gap);

    transition: transform 1s;
  }
}

.content {
  .items {
    position: relative;
  }
  .loop(0,0);
}

.items.open .bullet {
  width: 50px;
  position: absolute;
  text-align: right;
  animation-name: upwards;
  animation-duration: 1s;
  animation-fill-mode: both;

}

.bullet.close .bullet {
  width: 50px;
  position: absolute;
  text-align: right;
  animation-name: run;
  animation-duration: 1s;
  animation-fill-mode: both;

}

.item{
  cursor:pointer;

}
@keyframes upwards {
  from{transform : translate(0px,-10px)}
  to{transform : translate(42px,-55px)}

}
@keyframes run {
  from{transform : translate(0px,-10px)}
  to{transform : translate(100px,-40px)}

}
