﻿#heading1 {
    color: #ffffff;
    background-color: darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 150px;
    font-size: 60px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 4px solid;
    border-color: #1780f2;
    background-color: rgb(240,230,140);
    height: auto;
}

body {
    background-image: linear-gradient(to right, brown, white);
    background-repeat: round;
}

img {
    width: 150px;
    height: 148px;
    float: left;
    border: 1px solid;
    border-radius: 3px 4px;
}

#box {
    border: solid;
    background-color: darkred;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 100;
}

a {
    color: white;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-decoration: none;
    text-align: center;
}

#head1 {
    text-align: center;
    margin-left: 150px;
}

nav {
    background-color: darkred;
    padding: 10PX;
    color: white;
    font-size: 22px;
}

h2 {
    font-style: oblique;
    color: brown;
}

.text1 {
    font-family: sans-serif;
    font-weight: bold;
}

table, tr, td {
    border: 1px solid black;
}

#contact {
    float: right;
}

footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    clear: left;
}

.cont_head {
    font-weight: bold;
}
