<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="project.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>PROJECT</title>
</head>
<body>
  <footer>
    <div class="list"><a href="{{pageName1}}?{{name.name | url_encode}}">{{link1}}</a> |
         <a href="{{pageName2}}?{{name.name | url_encode}}">{{link2}}</a> |
         <a href="{{pageName3}}?{{name.name | url_encode}}">{{link3}}</a> |
         <a href="{{pageName4}}?{{name.name | url_encode}}">{{link4}}</a> |
         <a href="{{pageName6}}?{{name.name | url_encode}}">{{link6}}</a> |
         <a href="{{pageName7}}?{{name.name | url_encode}}">{{link7}}</a> |
         <a href="{{pageName8}}?{{name.name | url_encode}}">{{link8}}</a> |
   </div>
   <br>
    {{start}} &copy {{end}}
    <br><br>
    <span id="lastModified"></span>
  </footer>
</body>
</html>
<script type="text/javascript">
var x = document.lastModified;
document.getElementById("lastModified").innerHTML = "Last Modified" + " " +x;
</script>
