<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="project.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>PROJECT</title>
</head>
<body>

    <!-- piping to the url_encode function, so that the name string gets escaped. That is spaces turned into + for this case-->
     <div class="list"><a href="{{pageName1}}?{{name.name | url_encode}}">{{link1}}</a> |
          <a href="{{pageName2}}?{{name.name | url_encode}}">{{link2}}</a> |
          <a href="{{pageName3}}?{{name.name | url_encode}}">{{link3}}</a> |
          <a href="{{pageName4}}?{{name.name | url_encode}}">{{link4}}</a> |
          <a href="{{pageName6}}?{{name.name | url_encode}}">{{link6}}</a> |
          <a href="{{pageName7}}?{{name.name | url_encode}}">{{link7}}</a> |
          <a href="{{pageName8}}?{{name.name | url_encode}}">{{link8}}</a> |
    </div>

</body>
</html>
