﻿#heading1 {
    color: darkred;
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 150px;
    font-size: 60px;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 4px solid;
    border-color: coral;
    background-color: darkred;
    height: auto;
}

body {
    background-image: linear-gradient(to right,#e7eae3,#e7eae3);
    background-repeat: round;
}

#box {
    border: solid;
    background-color: antiquewhite;
    color: darkred;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 100;
}

a {
    color: darkred;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-decoration: none;
    text-align: center;
}

#head1 {
    text-align: center;
    margin-left: 150px;
}

nav {
    background-color: darkred;
    padding: 10PX;
    color: white;
    font-size: 22px;
}

h2 {
    font-style: oblique;
    color: #db8888;
    font-weight: bolder;
}

.text1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    padding: 5px 5px 5px 5px;
}

footer {
    font-size: small;
    font-style: italic;
    text-align: center;
    clear: left;
}

#linkToWiki {
    color: black;
    text-decoration: underline;
}

#simg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
}
.ref{
    color:black;
}