
.widthFloat(@float,@width)     //function for width and float
{
	float:@float;
	width:@width;
}

h1 {
	text-align: center;
}
.name_list {
	border: 1px solid;
	width: 15%;
	cursor: pointer;
	float: left;
}
.myProfile {
	border: 1px solid;
	.widthFloat(left,15%);
	margin-left: 25%;
}
.myPic {
	float: left;
	margin-left: 74%;
	margin-top: 2%;
}
.squad_list {
	float: left;
	margin-left: 25%;
	cursor: pointer;
}
