@color_1: white;
@color_2: #383838;
@background_color_1: #383838;

body {
	margin: 0 auto;
	background-image: url(room.jpg);
}
.header {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 25px;

}
h1 {
	text-align: center;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
.wrap {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}
form {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
input {
	margin: 12px;
	padding: 10px;
	width: 60%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-width: 5px;
}
textarea {
	margin: 12px;
	padding: 10px;
	width: 60%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-width: 5px;
}
input[type=button] {
	background-color: #383838;
	border: 2px solid;
	width: 50%;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	color: @color_1;
	font-weight: bolder;
	cursor: pointer;
	font-size: 150%;
}
input[type=button]:hover{

	font-size: 200%;

}
.item {
	color: @color_2;
	border: 2px solid;
	border-radius: 15px;
	padding: 5px;
	cursor: pointer;
	border-width: 15px;
	margin-left: 25%;
	margin-right: 60%;

}
.item:hover{

	background-color:white;

}
