
.widthMargin(@width,@margin)     //function for width and margin
{
	width:@width;
	margin:@margin;
}
div{
  border:1px solid;
  display:inline-block;
  width: auto;
.widthMargin(16%,0.5%);
border-radius: 5%;
background-color:#f47a42;
color:blue;
}
a{
	color:blue;
}
.heading{
	color:black;
	font-weight:bold;
}
.link{
	float:right;
}
