@color_1: white;
@color_2: black;
@background_color_1: red;
@background_color_2: grey;

.pageHeading {
	background-color: @background_color_1;
	color: @color_1;
	text-align: center;
	grid-area: pageHeading;
}
.sideBar {
	border: 5px solid black;
	padding: 5px;
	width: 15%;
	color: @color_2;
	background-color: @background_color_1;
	font-weight: bold;
	grid-area: sideBar;
}
.items {
	background-color: @background_color_2;
}
a {
	color: @color_2;
}
table {
	border: 2px solid black;
	border-collapse: collapse;
	width: 20%;
	width: 100%;
}
tr {
	border: 2px solid black;
	border-collapse: collapse;
	width: 20%;
}
td {
	border: 2px solid black;
	border-collapse: collapse;
	width: 20%;
}
.heading {
	grid-area: head;
}
.sidebar {
	grid-area: bar;
	width: 350%;
}
.pokeTable {
	overflow-y: scroll;
	height: 200px;
	grid-area: table;
}
.cards {
	grid-area: cards;
}
.container {
	display: grid;
	grid-template-areas: 'head head head head head head'
                       'bar cards cards cards cards cards '
                       'bar cards cards cards cards cards '
                       'bar table table table table table '
                       'bar table table table table table ';
}
.favCard {
	border: 5px solid;
	width: 10%;
	border-radius: 20px;
	padding: 5px;
}
