<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Week 7 Example</title>
</head>
<body>
  <div class="favCard">
    {% for name in cards %}
     <div>Name = {{name["name"]}}
    </div>
    <div>Number = {{name["number"]}}
   </div>
    {% endfor %}
  </div>
</body>
</html>
