<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Week 7 Example</title>
</head>
<body>
<div class="sideBar">
    <h2>Popular Pokemons</h2>
    <div class="items">
    {% for name in popularNames %}
    <!-- piping to the url_encode function, so that the name string gets escaped. That is spaces turned into + for this case-->
     <div><a href="page2.php?name={{name.name | url_encode}}">{{name["name"]}}</a>
    </div>
    {% endfor %}
      </div>
</div>
</body>
</html>
