<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Week 7 Example</title>
</head>
<body>
      <div class="table">
        <table>
          <th>Name</th>
          <th>Nat</th>
          <th>Type</th>
    {% for name in table %}
              <tr>
              <td><a href="index.php?name={{name.name | url_encode}}">{{name["name"]}}</a></td>
              <td>{{name["number"]}}</td>
              <td>{{name["type"]}}</td>
              </tr>


    {% endfor %}
        </table>
</div>
</body>
</html>
