@color_w: white;
@color_r: red;
@color_ferozi: #4d79ff;
@color_darkFerozi: #3333ff;
@topmenu_background_color: #4d004d;
@topmenu_items_bg_color: #660066;
@container_background_color: #990099;
@flexbottom_background_color: #e600e6;
@topMenu_hover_bg_color: #ebc6d9;
@Vertical_graph_bg_color:green;
@Horizontal_graph_bg_color: red;

.widthMargin(@width,@margin)     //function for width and margin
{
	width:@width;
	margin:@margin;
}
.widthHeight(@width,@height)      // function for width and height
{
	width:@width;
	height:@height;
}
.title {
	background: linear-gradient(to right, #660066 21%, #ff33cc 92%);
	font-size: 30px;
	text-align: center;
}
.topmenu {
	background-color: @topmenu_background_color;
	border-radius: 25px;
 .widthMargin(70%,auto);
	text-align: center;
	word-spacing: 15px;
	>.item {                          // to give different color to each item
		&:nth-child(1) {
			background-color: @topmenu_items_bg_color;
			color: @color_w;
		}
		&:nth-child(2) {
			background-color: @container_background_color;
			color: @color_w;
		}
		&:nth-child(3) {
			background-color: @flexbottom_background_color;
			color: @color_w;
		}
		&:nth-child(4) {
			background-color: @topmenu_items_bg_color;
			color: @color_w;
		}
		&:nth-child(5) {
			background-color: @container_background_color;
			color: @color_w;
		}
		&:nth-child(6) {
			background-color: @flexbottom_background_color;
			color: @color_w;
		}
		&:nth-child(7) {
			background-color: @topmenu_items_bg_color;
			color: @color_w;
		}
		&:hover {
			background-color: @topMenu_hover_bg_color;
		}
	}
}
.item {
	display: inline-block;
	padding: 10px;
	padding-top: 0;
	padding-bottom: 0;
}
.sidebar {                            // item under sidebar
	>.item {
		&:hover {
			font-weight: bold;
			>.subItem {
				font-weight: bold;
				display: block;
				padding-left: 20px;
				&:hover {
					color: @color_r;
				}
			}
		}
	}
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	width: 300px;
	padding-top: 40px;
	padding-left: 20px;
}
.mon {                                    //boxes in the flexbottom
	background: linear-gradient(to right, #cc6699 -76%, #660066 100%);
	.widthMargin(16%,2px);
	padding-left: 10px;
	border-radius: 20px;
	>div {                              //to bold the first child in each box
		&:nth-child(1) {
			font-weight: bold;
		}
	}
	&:nth-of-type(even) {        // to give different color to boxes
		background: linear-gradient(to left, #cc6699 -76%, #660066 100%);
	}
	&:nth-of-type(odd) {
		background: linear-gradient(to right, #cc6699 -76%, #660066 100%);
	}
}
h2 {
	margin-right: 75%;
  font-weight: bold;
}
.bargraph {                            // bargraph grid layout vertical
	grid-area: bargraph;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(100,1fr);
	grid-column-gap: 20%;
	padding-top: 20px;
	height: 150px;
	margin-right: 25%;
	padding-left: 15%;
}
.flexbottom {                        //flex layout
	grid-area: flexbottom;
	background-color: @flexbottom_background_color;
	display: flex;
	flex-flow: wrap;
}
.container {                    //grid layout  vertical graph
	background-color: @container_background_color;
	display: grid;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	grid-template-areas: 'sidebar sidebar header header header header'
                       'sidebar sidebar bargraph bargraph bargraph bargraph '
                       'sidebar sidebar bargraph bargraph bargraph bargraph'
                       'sidebar sidebar flexbottom flexbottom flexbottom flexbottom';
}
.bar1 {
	background-color: @Vertical_graph_bg_color;
	grid-row-start: 20;
	grid-row-end: 100;
}
.bar2 {
	background-color: @Vertical_graph_bg_color;
	grid-row-start: 70;
	grid-row-end: 100;
}
.bar3 {
	background-color: @Vertical_graph_bg_color;
	grid-row-start: 10;
	grid-row-end: 100;
}
.bar4 {
	background-color: @Vertical_graph_bg_color;
	grid-row-start: 20;
	grid-row-end: 100;
}
.subItem {
	display: none;
}
@media only screen and (max-width: 814px) {
	.sidebar {
		display: none;
	}
	.container {
		background-color: @container_background_color;
		display: grid;
		grid-template-areas: 'header header header header' 'bargraph bargraph bargraph bargra' 'flexbottom flexbottom flexbottom flexbottom';
	}
	.topmenu {
		>.item {
			display: block;
			background-color: @container_background_color;
			text-align: left;
			&:nth-of-type(odd) {
				background-color: @container_background_color;
			}
			&:nth-of-type(even) {
				background-color: @flexbottom_background_color;
			}
			&:hover {
				background-color: @topMenu_hover_bg_color;
			}
		}
		width: 100%;
	}
	.bargraph {   //horizontal graph
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		background-color: @container_background_color;
		display: block;
	}
	.bar1 {
		background-color: @Horizontal_graph_bg_color;
	 .widthHeight(70%,20px);
		margin-top: 4%;
		margin-left: -25%;
	}
	.bar2 {
		background-color: @Horizontal_graph_bg_color;
	 .widthHeight(50%,20px);
		margin-top: 4%;
		margin-left: -25%;
	}
	.bar3 {
		background-color: @Horizontal_graph_bg_color;
 	.widthHeight(250px,20px);
		margin-top: 4%;
		margin-left: -25%;
	}
	.bar4 {
		background-color: @Horizontal_graph_bg_color;
	 .widthHeight(150px,20px);
		margin-top: 4%;
		margin-bottom: 40px;
		margin-left: -25%;
	}

	.flexbottom {
		>.mon {
			background: radial-gradient(#cc6699 , #660066);
			.widthMargin(100%,0.5%);
			padding-left: 10px;
			border-radius: 20px;
			color: @color_ferozi;
		}
	}
	.mon {                    // color of first child of boxes in flexbottom
		>div {
			&:nth-of-type(1) {
				color: @color_darkFerozi;
				font-weight: bold;
			}
		}
	}
}
